/*index.css*/
body{
	background-color:rgb(54,6,6);
	color:black;
}
/*
.wrapper{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
*/
#jsapp{
	width:1024px;
	float:left;
	border: 2px gray solid;
	border-radius: 5px 5px 5px 5px;
}
#stats{
	float:left;
	color:black;
	margin-left: 10px;
}
#healthometer, #insuranceometer{
	border: 2px navy solid;
	-webkit-border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
	background-color: #FCFCFC;
}
#stats h1, #stats h2, #stats h3{
	font-weight: bold;
	font-family: sans-serif;
	border-bottom: 2px pink solid;
	margin-bottom: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}
#stats h1 {
	color: navy;
}
#stats h1{
	font-size: 14pt;
}
#stats h2{
	font-size: 12pt;
	font-family: monospace;
}
#stats h3{
	font-size: 10pt;
	text-align: right;
}
#stats .caution{
	color: orange;
	font-size: 10pt;
}
#stats .warning{
	color: orange;
	font-weight: bold;
	font-size: 11pt;
}
#stats .danger{
	color: red;
	font-weight: bold;
	font-size: 12pt;
}
#stats .crisis{
	color: red;
	font-weight: bold;
	font-style: italic;
	font-size: 14pt;
	text-decoration: blink;
}
